---
// Import necessary modules
import Layout from '../layouts/PageLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from "../components/Footer.astro";

// Fetch data from Strapi
async function fetchDesignItems() {
    const response = await fetch('http://127.0.0.1:1337/api/design-assets?populate=*');
    if (response.ok) {
        const data = await response.json();
        return data.data;
    } else {
        console.error('Failed to fetch design items:', response.statusText);
        return [];
    }
}

const designItems = await fetchDesignItems();
---

<Layout title="Rafael Monteiro - Design">
    <main>
        <Nav />

        <!-- Design Gallery -->
        <section class="gallery bg-white py-24">
            <div class="container mx-auto px-8">
                <div class="text-center mb-12">
                    <h2 class="text-3xl font-bold mb-4">Design Gallery</h2>
                    <p class="mb-8 text-lg text-gray-600">Explore Rafael's unique designs and furniture pieces.</p>
                </div>

                <!-- Grid for Design Items -->
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                    {designItems.map(item => (
                            <div key={item.id} class="design-item cursor-pointer" onclick={`openLightbox(${item.id})`}>
                                {item.attributes.cover && (
                                        <img src={item.attributes.cover.data.attributes.url} alt={item.attributes.title} class="w-auto h-auto" />
                                )}
                                <h3 class="text-xl font-semibold">{item.attributes.title}</h3>
                                <p class="text-gray-600">{item.attributes.description}</p>
                            </div>
                    ))}
                </div>
            </div>
        </section>

        <!-- Lightbox Structure -->
        <div id="lightbox" class="hidden fixed inset-0 bg-black bg-opacity-50 z-50 flex justify-center items-center">
            <div class="lightbox-content max-w-3xl max-h-full p-4 bg-white">
                <!-- Dynamic image and navigation buttons here -->

            </div>
        </div>

        <Footer />
    </main>
</Layout>

<script>
    function closeLightbox() {
        document.getElementById('lightbox').classList.add('hidden');
    }

    // Attach close event listener
    document.getElementById('lightbox').addEventListener('click', e => {
        if (e.target.id === 'lightbox') {
            closeLightbox();
        }
    });
</script>
